* {
  box-sizing: border-box; }

html, body {
  background-size: cover;
  background-color: #001a72;
  font-size: 10px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 150%; }

div {
  height: 100%; }

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0; }
.landing-login{
  background-color: #ffffff;
  position: absolute;
  width: 500px;
  margin: 0 auto;
  left: 560px;
  top: 250px;
  height: 500px;
  text-align: center;
}
.btext{
  font-size: 48px;
}
